@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply font-bold text-6xl text-yellow-800 dark:text-yellow-200;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-xl text-yellow-800 dark:text-yellow-200;
  }

  h4 {
    @apply text-yellow-800 dark:text-yellow-200;
  }

  a {
    @apply text-yellow-800 dark:text-yellow-300;
    @apply underline underline-offset-2 decoration-1 decoration-black dark:decoration-yellow-200;
  }

  a:hover {
    @apply text-yellow-600 dark:text-yellow-200;
    @apply decoration-yellow-600 dark:decoration-yellow-200;
  }

  p {
    @apply mb-2;
  }
}
